@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

#logo {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
    padding: 1%;
}

#logo:after {
    content: "dreamdealer";
    position: absolute;
    left: 8px;
    top: 32px;
}

#logo:after {
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -5;
    display: block;
    text-shadow: none;
}

#spacer {
    width: 40px;
    height: 20px;
}



.circle,
.circle-menu {
    text-decoration: none;
    background: silver;
    color: white;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0 0 0 5px silver;
    border: dashed 1px #FFF;
    transition: .4s;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 15pt;
}

.circle:hover,
.circle-menu:hover {
    background: #silver;
    box-shadow: 0 0 0 5px #aba9a9;
    cursor: pointer;
}

#canvas {
    background: white;
    width: calc(100% - 140px);
    height: calc(100% - 90px);
    margin: 0 70px;
}

text {
    font-size: 54px;
    fill: red;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.content {
    display: flex;
    justify-content: center;
    min-width: 200px;
    flex-direction: column;
}

.main-container {
    width: 100%;
}

.floor-circles {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    justify-content: center;
    margin-top: -10px;
    height: 100%;
}


.select-circle,
.select-circle-menu {
    box-shadow: 0 0 0 5px #3b3939;

}

.col-sm {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-icon {
    cursor: pointer;
}

.user-menu {
    display: flex;
    height: 45px;
    justify-content: center;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
}

.building-name {
    text-align: center;
}

.center-block {
    width: 100%;
    height: 100%;
    margin-right: 20px;
    min-width: 900px;
}

.building-name {
    width: 100%;
    position: absolute;
}

.scrollable {
    height: auto;
    width: 1rem;
    max-width: 5rem;
    max-height: 30em;
    box-sizing: border-box;
    overflow-x: hidden;
}

.nv-none {
    display: none !important;
}

.nv-flex {
    display: flex;
}

.user-menu__item_nothover {
    border: 2px white solid;
    border-radius: 5px;
    background-color: #17a2b8;
    cursor: pointer;
    text-align: center;
    min-width: 120px;
    height: 35px;
    margin: 5px 0;
    color: #dbfff7;
}

.user-menu-item__dropdown_title {
    font-size: 24px;
}

.building-listing {
    position: absolute;
    cursor: pointer;
}

.place-link {
    width: 200px;
    display: flex;
    align-items: center;
}

#place-link__none {
    opacity: 0;
    width: 120px;
}

#link {
    padding-right: 7px;
}

.place-link__inp {
    height: 35px !important;
    margin: 5px 0;
}

.user-menu-vertical {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 10px;
    align-items: flex-end;
    width: 1rem;
}

.select-lbl {
    border:3px #00c4ff solid;
    border-radius: 20px;
}